---
export interface Props {
	logo: string;
	color: string;
	link: string;
	download: boolean;
}

import { Icon } from 'astro-icon'

const { link, logo, color, download} = Astro.props;
---

<li class="bg flex justify-center w-full rounded-lg py-2 hover:cursor-pointer">
	<a href={link} class="hover:cursor-pointer" download={download}>
		<Icon class="h-16 w-16 text-white" name={logo}>
	</a>
</li>
<style define:vars={{color}}>
	.bg {
		/* @apply flex justify-center w-full rounded-lg py-2 */
		background-color: var(--color);
		}
</style>
